.header-container {
  display: flex;
  height: 44px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  
  background-color: var(--surface-1);
}

.title {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-1);
  font-size: 24px;
  font-weight: bold;
}

.section {
  opacity: 0.3;
  text-transform: capitalize;
  font-weight: normal;
  font-weight: 500;
}

.settings-section {
  display: flex;
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
  padding: .3rem;
  margin: .3rem;
  border-radius: var(--radius);
  cursor: pointer;
}
.profile-section:hover {
  background-color: var(--on-hover);
}