.theme-button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.login-page-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  max-width: 550px;
  justify-content: space-around;
  padding: 0 1.5rem;
  margin: 0 auto;
  color: var(--text-1);
}
