.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  max-width: 550px;
  justify-content: space-around;
  padding: 0 1.5rem;
  margin: 0 auto;

  /* border: 1px solid red; */
}

.title {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #8d8d8d;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.63);
  display: flex;
  align-items: center;
}

.button {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background: #007BFF;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: backgroud 0.3s;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper .input {
  flex: 1;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  margin: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
}