.toggle-theme-button-container {
  border-radius: 10px;
  padding: .3rem;
  margin: .3rem;
  cursor: pointer;
}
.toggle-theme-button-container:hover {
  background-color: var(--on-hover);
}

.button-theme-toggle {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
}