#root {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  /* border: 1px solid purple; */
}

@media (min-width: 480px) {
  #root {
    border: 0px solid blue;
  }
}

@media (min-width: 768px) {
  #root {
    border: 0px solid green;
  }
}

@media (min-width: 1024px) {
  #root {
    border: 0px solid yellow;
  }
}

@media (min-width: 1440px) {
  #root {
    max-width: 1440px;
    border: 0px solid red;
  }
}


/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid blue;
} */