:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  color: var(--color);
  background-color: var(--bg);

  --bg: #1c1c1e;
  --color: rgba(255, 255, 255, 0.87);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  /* border: 1px solid red; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color);
    background-color: var(--bg);

    --bg: #ffffff;
    --color: #213547;
  }
}
