:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  --bg: #1c1c1e;
  --color: rgba(255, 255, 255, 0.87);
  --border-color: #8d8d8d;
  --primary-color: #007BFF;
  --error-color: red;

  color: var(--color);
  background-color: var(--bg);
}

* { margin: 0; padding: 0; }

body {
  display: flex;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --color: #213547;
    --border-color: #8d8d8d;
    --primary-color: #007BFF;
    --error-color: red;

    color: var(--color);
    background-color: var(--bg);
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
  --bg: #1c1c1e;
  --color: rgba(255, 255, 255, 0.87);
}

html[data-theme="light"] {
  color-scheme: light;
  --bg: #ffffff;
  --color: #213547;
}